/* body{
    background-color: rgb(216, 240, 232);
} */



body{
    color: #40514E;
    margin: 0px;
    text-align: center; /*to get everything aligned in center.This works as long as we have got an inline block element such as our images or if we've got these full width block elements like h1 or p tag*/
    font-family: 'Merriweather', serif; /*embedded font */
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;   
    text-decoration: none; /* to remove underline*/
}

a:hover{
    color: #EAF6F6;
}





h1{
    color: #66BFBF;
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /* line-height: 2; */
     /* width: 10%;because of this line, h1 will no longer be center aligned, dispite the fact that it's still inside the body which is still asking for text align to be center. To solve this problem the following instruction will help
    margin:0 auto 0 auto ;we can shorten this by writing margin:0 auto;  */
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style:dotted;
    border-color: #80aaaace;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}

.pro{
    text-decoration: underline;
}



/* navigation bar */

.navbar{
    background-color:#11999E ;
}




/* top container */
.top-container{

    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
  

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;

} 




/* middle container */
.middle-container{
    margin: 50px 0px 100px;
}


.img-round1{
    border-radius: 50%;
    width: 15%;
    float: left;
    margin-right: 30px;
}
.img-round2{
    border-radius: 50%;
    width: 15%;
    float: right;
    margin-left: 30px;
}




/* Skills */
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;   
}

.clear-hr{
    clear: both;
    position: relative;
    top: 60px; 
}




/* Education */
.education{
    margin-top: 150px;
}

.education-table{
    width:50%;
    margin: 100px auto 100px auto; 
 }

.degree-column{
    text-align: left;
}
  
.degree-year-column{
    text-align: right;
  }
    



  /* Research Papers */
.research-papers{
    margin-top: 100px;
}

.research-papers-table{
    width:50%;
    margin: 100px auto 100px auto; 
 }

.research-detail-column{
    text-align: left;
}
  
.research-year-column{
    text-align: right;
  }
    


  /* Work Experience */
.work-experience{
    margin-top: 100px;
}

.work-experience-table{
    width:50%;
    margin: 100px auto 100px auto; 
 }

.work-detail-column{
    text-align: left;
}
  
.work-year-column{
    text-align: right;
  }







.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
    
} 












    
    



.copyright{
color: #EAF6F6;
font-size: 0.75rem;
padding: 20px 0;

}

/* .clear1{
    clear: left;
}

.clear2{
    clear: right;
} */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  .intro{
      width: 30%;
      margin:  auto;
  }